/* ================================== */
/* Fonts */
/* ================================== */

@font-face { 
    font-family:'montserrat-regular';
    src: url(../../assets/fonts/montserrat-regular.ttf) format('ttf');
    src: url(../../assets/fonts/montserrat-regular.eot) format('eot');
    src: url(../../assets/fonts/montserrat-regular.woff) format('woff');
}
@font-face { 
    font-family:'montserrat-medium';
    src: url(../../assets/fonts/montserrat-medium.ttf) format('ttf');
    src: url(../../assets/fonts/montserrat-medium.eot) format('eot');
    src: url(../../assets/fonts/montserrat-medium.woff) format('woff');
}