/* ================================== */
/* Footer */
/* ================================== */

.footer-wrapper {
    height: 200px; // 13.4375em
    width:100vw;
    @include flex(col, nowrap);
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 50px;
    
    .footer {

        &__logo-wrapper {
            margin:auto;
            @include max-600px { width: 120px;}
            @include min-600px { width:130px;}
            height:40px;
            img { max-width: 100%;}
        }
        &__credentials {
            p {text-align: center; color:$white; }
        }
    }
}